<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- Bootstrap navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/check_all_status">Check Reservations</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>All Client Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Table Number</th>
                <th>Reservation Time</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in client_details %}
            <tr>
                <td>{{client.id }}</td>
                <td>{{ client.table_number }}</td>
                <td>{{ client.reservation_time }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.age }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <!-- Button to trigger delete client method -->
                    <button class="delete-btn btn btn-danger" data-id="{{ client.id }}">Delete</button>
                    <!-- Button to trigger update client modal -->
                    <button class="update-btn btn btn-warning" data-id="{{ client.id }}">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript to handle the update button click event -->
    <script src="{{ url_for('static', filename='DeleteAndUpdate.js') }}"></script>
</body>
</html>
