<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Your CSS styles */
        .rating {
            color: #FFD700; /* Gold color for stars */
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Ratings</h1>
        <ul>
            {% for category_data in menu %}
                {% for category, items in category_data.items() %}
                    {% for item in items %}
                        <li>
                            {% if category == 'dishes' %}
                                Dish: {{ item["name"] }} - Rating:
                            {% elif category == 'drinks' %}
                                Drink: {{ item["name"] }} - Rating:
                            {% endif %}
                            <span class="rating">
                                {% set stars = range(1, 6) %}
                                {% for star in stars %}
                                    {% if item["ratings"] >= star %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>

